* {
    background-color: solid cornflowerblue;
    display:border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
}
.commentbox {
    border: 1px solid black;    
}